* {
    box-sizing: border-box;
}
div {
    /*margin: 10px;*/
    /*padding: 10px;*/
}
#root{
    height: 100vh;
}
#Nav{
    height: 10vh;

}
#Nav ul{
    list-style-type: none;
}
#Nav li {
    display: inline;
    padding: 5px;
}

.container {
    /*height: 90%;*/
    display: grid;
    justify-items: stretch;
    grid-template-columns: auto 70vh auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "Chat TimeBox Music1"
    "Chat Pulpit Music1"
    "Notes Pulpit Music2"
	"Maps Pulpit .";
    width: 100%;
    justify-items: stretch;
    align-items: stretch;
}
.container div {
    z-index: 2;

}
#TimeBox{
    grid-area: TimeBox;
    background-color: blue;
}
#Music1{
    grid-area: Music1;
}
#Music2{
    grid-area: Music2;
}
#Chat {
    grid-area: Chat;
}
#Maps  {
    grid-area: Maps;
}
#Notes {
    grid-area: Notes;
}
#Pulpit{
    grid-area: Pulpit;
}
img{
    height: 70px;
}

container1{
    padding: 15px;

}
.svg {
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #4CAF50;
    background: #fff;
}
.svg img {
    width: 35px;
    height: 35px;
}
.box:after {
    content:'';
    display:block;
    clear:both;
}
.box div {
    float:left;
    padding: 2px;
}
.boxList div {
    padding: 2px;
    position: relative;
}
.alice-carousel__wrapper{
    text-align: center;
}

.box div[draggable=true] img,
.boxList div[draggable=true] {
    background-color: red;
    margin: 4px;

    user-drag:none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;

}
.audio-play-progress{
    width: 50%;
    position: absolute;
    left: 1px;
    bottom: 1px;
    content: "";
    display: block;
    height: 2px;
    z-index: 1;
    /*background-image: url("");*/
    background-color: green;
    /*background-repeat: no-repeat;*/
    /*background-size: 50% 100%;*/
}